---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SubTitle from '../components/SubTitle.astro';
import Carrusel from '../components/Carrusel.astro';
import BoxImage from '../components/BoxImage.astro';
---

<Layout title="Welcome to Astro.">
	<Header title='Inicio'/>
	<main class="allContent">
	  <div class="description-card">
		<h4>Instalación de Pisos, pulido, granito, terraza, mármol e lavado y encerado.</h4>
	  </div>

	  <section>
		<SubTitle subTitle='Trabajos Recientes'/>
		<Carrusel />
	  </section>

	  <section class="lap">
		<SubTitle subTitle='Lapidas / Cruces' color='white'/>
		<p>
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac feugiat leo, vitae viverra turpis. Vestibulum convallis tellus augue, id cursus sapien eleifend vitae. 
		  Duis volutpat, metus in lacinia imperdiet, lectus magna suscipit lacus, a tristique mi ex ac ipsum.
		</p>
		<BoxImage/>
	  </section>

	  <section>
		<SubTitle subTitle='Ubicación'/>
		
	  </section>
	</main>
</Layout>

<style>
	section {
		background-color: aqua;
	}

	.lap {
		width: 100%;
		height: 807px;
		background-image: url('/lapidas.png');
		background-size: cover;
		background-position: center;
	}

	.allContent {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.description-card {
		width: 1308px;
		height: 247px;
		padding: 50px;
		border-radius: 30px;
		border: 1px solid gray;
		margin-top: 50px;
		background-image: url('/marmol.jpg');
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 10;
	}


</style>
